body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b1522;
}

.heart{
  height: 70px;
  width: 70px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #f20044 ;
}

.heart::before{
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  background: #f20044;
  top: -50%;
  border-radius: 50px;
}

.heart::after{
  content: '';
  position: absolute;
  height: 70px;
  width: 70px;
  background: #f20044;
  right:-50%;
  border-radius: 50px;
}
